@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

:root{
    font-family: "Roboto", sans-serif;
    font-size: calc(26 * 96px / 72);
    --nav-font-size: calc(18 * 96px / 72);
    --title-font-size:96px;
    --form-title-size:calc(34 * 96px / 72);
    --form-font-size: calc(23 * 96px / 72);
    --form-btn-font-size: calc(24 * 96px / 72);
    
    /* colors */
    --primary-color: #0a2ff1;
    --secondary-color:#04146c;
    --reset-btn-background:#f98500;
    --send-btn-background:#2c00cc;
}

*{
    font-family: "Roboto";
    margin: 0;
    box-sizing: border-box;
}

body{
    width:100vw;
    border-top: 30px solid var(--primary-color);
    display:flex;
    flex-direction: column;
}

nav{
    width: 100%;
    font-size: var(--nav-font-size);
    display:flex;
    margin: 30px 40px;
    align-items:center;
}

nav a:visited{
    color: var(--secondary-color);
}
.navlink{
    text-decoration: none;
    margin: 40px;
    font-size: var(--nav-font-size);
    text-transform: uppercase;
}

.logo-container{
    width: 6%;
}

.logo-container img{
    width: 5vw;
}

.active{
    font-weight: bold;
}

h1{
    font-family: "Roboto Slab", serif;
    font-size: var(--title-font-size);
    color: var(--primary-color);
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--secondary-color);
}

header{
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-container{
    margin-top: 40px;
    width: 100%;
}

.img-container img{
    width:inherit;
}

#contact-form label{
    display:block;
    margin-top:30px;
}

.mandatory{
    color:red;
    font-weight: 400;
}

.form-container{
    font-size: var(--form-font-size);
    color: var(--secondary-color);
    margin-left: 40px;
}

.form-container h1{
    font-size: var(--form-title-size);
    margin-bottom: 30px;
}

form{
    margin-top: 40px;
    font-weight: bold;
}

input, textarea{
    height: 50px;
    margin-top: 10px;
    width: 500px;
    border: 3px solid var(--primary-color);
    font-size:var(--form-font-size);
}

/* 
POR QUE ESTO NO FUNCIONA?
input[placeholder]{
    color:#f98500
} */


textarea{
    height: 100px;
}

.button-container .btn{
    font-family: 'Roboto Slab', serif;
    font-size: var(--form-btn-font-size);
    font-weight: bold;
    color:white;
    border-radius: 5px;
    border-style: none;
    max-width: 170px;
    margin-right: 50px;
    margin-top:30px;
}

.btn[type="reset"]{
    background-color: var(--reset-btn-background);
}

.btn[type="submit"]{
    background-color: var(--send-btn-background);
}