/* reemplazar con el import de google fonts antes de entregar */
@font-face {
    font-family: 'Mulish';
    src: url(./assets/ej-1-Mulish/Mulish-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 600;
}

.form-container{
    width:50%;
}

.custom-form{
    width: 600px;
    height: 400px;
    padding: 20px;
}