@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root{
    font-family: 'Mulish', sans-serif;
    font-size: calc(14 * 96px / 72);

    /* font sizes */
    --title-size: calc(18 * 96px / 72);
    --button-font-size: calc(15 * 96px / 72);

    /* font weights */
    --semibold: 600;

    /* colors */
    --primary-color: #04146c;
    --secondary-color:#0a2ff1;
    --tertiary-color: #414166;
}


*{
    box-sizing: border-box;
    margin: 0 auto;
}

main{
    margin-top: 3%;
    width: 80vw;
}

h1{
    font-weight: bold;
    font-size: var(--title-size);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
}

input, button{
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

.login-container{
    border: 1px solid lightblue;
    width: 50%;
}

.login-container hr{
    width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-container a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
}

.login-container form input, .login-container form button{
    font-family: 'Mulish', sans-serif;
}

.login-container form button {
    background-color: var(--secondary-color);
}

.login-container input{
    font-size: 1 rem;
    color: var(--tertiary-color);
}

.login-container button{
    font-size: var(--button-font-size);
    font-weight: var(--semibold);
    color: white;
    border-style:none;
    border: 1px solid black;
}