@font-face {
    font-family: "Mulish";
    src: 
        local("Mulish"),
        url(./assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 700;
}

:root {
    font-family:"Mulish";
    --input-font-size: calc(17 * 96 / 72);
    --heading-font-size: calc(24.48 * 96 / 72);

    --heading-color: #04146c;
    --placeholder-color: #414166;
    --button-color: #15163d;
}

*{
    margin: auto;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/images/M4-desafio1-fondo.png);
}

.form-container{
    margin-top: 10px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/images/M4-desafio1-fondo-form.png);
}

#login{
    margin: 3% auto;
    text-align: center;
    background-color: white;
    width: 600px;
    height: 400px;
    padding:20px;
}

.form-field{
    display:block;
    width:100%;
    border: 1px solid black;
}

.fields-container{
    width: 90%;

}