@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,900;1,400&display=swap');

:root{
    font-family:'Source Sans 3', sans-serif;
    font-size: calc(16 * 96px / 72);
    --font-fam: 'Source Sans 3', sans-serif;
    --title-size: calc(62 * 96px / 72);
    --btn-font-size:calc(14 * 96px / 72);
    --primary-color:#04146c;
}

@media screen and (max-width:768px) {
    img{
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    img{
        width: 80%;
    }
}

.btn-primary{
    font-variant: small-caps;
    font-size: var(--btn-font-size);
    min-width: 150px;
    border-radius: 0;
    background-color: var(--primary-color);
    border: var(--primary-color);
}

h1{
    font-family: var(--font-fam);
    font-weight: 900;
    font-size: var(--title-size);
    color:var(--primary-color);
}