@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root{
    font-size: calc(18 * 96px/72);
    
    --disclaimer-size:calc(13 * 96px/72);
    --primary-color:#04146c;
    --line-color: #8a9af1; 
    --btn-color:#5974ff;
}

#disclaimer{
    font-size: var(--disclaimer-size);
    font-style: italic;
}

.form-label{
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.form-input{
    border-color: var(--line-color);
}

